header {
  display:flex;
  height:400px;
  width:100%;
  background-color: #d79920;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-image: url("https://www.transparenttextures.com/patterns/blizzard.png");
  margin-top: 100px;
  font-size: 1.3em;
}

.name {
  color: #FFFFFF;
  font-size: 150%;
}
