header {
  display: flex;
  height: 400px;
  width: 100%;
  background-color: #d79920;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.transparenttextures.com/patterns/blizzard.png");
  margin-top: 200px;
  font-size: 1.3em;
}

.name {
  color: #ffffff;
  font-size: 150%;
}

@media only screen and (max-width: 767px) {
  header {
    flex-shrink: inherit;
  }
}
